body {
	font-size: 12pt;
	font-family: Courier;
	background-color: #EDEDED;
}
p {
	margin-top: 5px;
}
.page {
	padding-left: .824in;
	padding-right: .824in;
	padding-top: .824in;
	padding-bottom: .824in;
	min-height: 9.06in;
	width: 7in;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	/*box-shadow: -1px -1px 1px black, 1px 0px 1px black;*/
	margin-bottom: 10px;
}
.inner-page {
	width: inherit;
	min-height: inherit;
}
.scene-heading {
	background-color: #BCBCBC;
	text-transform: uppercase;
}
.action {
}
.speech {
	margin-left: 2.059in;
	margin-right: .824in;
}
.character {
	margin-left: 3.294in;
	text-transform: uppercase;
}
.parenthetical {
	margin-left: 1.647in;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: gray;
	font-family: Sans-serif;
	font-weight: 300;
	color: #EDEDED;
	padding: 5px 10px;
	text-align: center;
}